<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="intro-text">
                    <div class="intro-lead-in">Hi, I'm Ola</div>
                    <div class="intro-heading">A Cloud Data Engineer</div>
                    <a href="#about" class="page-scroll btn btn-xl">About Me</a>
                </div>
            </div>
            <div class="col-6">
                <div class="team-member">
                    <img src="/assets/img/team/olajide.jpg" class="img-responsive img-circle" alt="Olajide">
                    <ul class="list-inline social-buttons">
                        <li><a href="http://www.facebook.com/jide.olagunju.5/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="http://www.linkedin.com/in/olajide-olagunju/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>    
    </div>
</header>
